#include "enums.h"

GType {{choice.enum_type}}_get_type(void)
{
    static GType type = 0;

    if (type == 0) {
        static const GEnumValue values[] = {
            { METAL_SILVER,     "Silver",     "silver" },
            { METAL_GOLD,       "Gold",       "gold" },
            { METAL_COPPER,     "Copper",     "copper" },
            { METAL_BRONZE,     "Bronze",     "bronze" },
            { METAL_BLUE_STEEL, "Blue Steel", "blue-steel" },
            { 0, NULL, NULL }
        };

        type = g_enum_register_static("MetalType", values);
    }

    return type;
}
